.tags
tags
bundle
view
.netrwhist
init.vim

.*.swp
after/ftplugin/.*.swp
colors/.*.swp

colors/Tomorrow-Night.vim
colors/hybrid.vim
colors/quantum.vim
colors/jellybeans.vim
colors/one.vim
colors/paramount.vim

colors/.tags
after/ftplugin/.tags
